---
// data import
import lang from '../../data/lang'

interface Props {
    currentlang: number;
}

const { currentlang } = Astro.props as Props

const data = lang[currentlang].data.navigation;

---

<nav>

    <div class="navigation">
        <ul>
            <li><a class="link" href={data.home.path}>{data.home.name}</a></li>
            <li class="dropdown"><a class="link" href={data.information.path}>{data.information.name}</a><a id="dropbtn" class="dropdown-button"><img src="/assets/icons/svg/arrowdown.svg" /></a></li>
            <li><a class="link" href={data.contact.path}>{data.contact.name}</a></li>
            <li><a class="button" href={data.login.path}>{data.login.name}</a></li>
        </ul>
    </div>

    <div id="infodrop" class="information-dropdown">
        <ul>
            <li><a href={data.information.dropdown.family.path}>{data.information.dropdown.family.name}</a></li>
            <li><a href={data.information.dropdown.library.path}>{data.information.dropdown.library.name}</a></li>
            <li><a href={data.information.dropdown.forum.path}>{data.information.dropdown.forum.name}</a></li>
        </ul>
    </div>

    <!-- <div id="langdrop" class="language-dropdown">
        <ul>
            <li><button>English</button></li>
            <li><button>Norwegian</button></li>
        </ul>
    </div> -->

</nav>

<style>

    nav {
        position: relative;

        width: 100%;
        height: 3rem;
    }

    .navigation {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background: linear-gradient(to right, #239E21, #126011, #239E21);
    }

    .navigation ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        margin: 0;
        padding: 0;
    }

    .navigation ul li {
        list-style: none;
    }

    .navigation ul li a {
        color: #ffffff;
        text-decoration: none;
        font-size: 0.8rem;
    }

    .link {
        position: relative;
    }
    
    .link::before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        display: block;

        width: 0;
        height: 0.1rem;

        background-color: #ffffff;

        transition: 0.2s linear;
    }

    .link:hover::before {
        width: 100%;
    }

    .dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-button {
        transition: 0.2s linear;
    }
    
    .dropdown-button.active {
        transform: rotateZ(-180deg);
    }

    .button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

        background-color: #5F209E;

        transition: 0.1s linear;
    }

    .button:hover {
        font-size: 1rem;
    }

    .button:active {
        font-size: 0.6rem;
    }

    .information-dropdown {
        position: absolute;
        z-index: 5;
        left: 50%;
        top: -10rem;
        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 30%;
        height: fit-content;

        padding: 2rem;
        border-left: 0.1rem solid #5F209E;
        border-bottom: 0.1rem solid #5F209E;
        border-right: 0.1rem solid #5F209E;
        border-radius: 0 0 0.5rem 0.5rem;

        background: #DCFED8;
    }

    .information-dropdown ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;

        padding: 0;
        margin: 0;
    }

    .information-dropdown ul li {
        list-style: none;
    }

    .information-dropdown ul li a {
        position: relative;
        color: #000000;
        font-weight: bold;
        font-size: 0.8rem;
        text-decoration: none;
    }
    
    .information-dropdown ul li a::before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        display: block;

        width: 0;
        height: 0.1rem;

        background-color: #000000;

        transition: 0.2s linear;
    }

    .information-dropdown ul li a:hover::before {
        width: 100%;
    }

</style>

<script>
    const infodrop:any = document.getElementById("infodrop");
    const dropbtn:any = document.getElementById("dropbtn");
    let infoNavOpen = false;

    dropbtn.addEventListener("pointerdown", () => {
        if (infoNavOpen != false) {
            infodrop.animate({
              top: `-10rem`,
            }, { duration: 200, fill: "forwards" })
            
            dropbtn.classList.remove("active");
        } else {
            infodrop.animate({
                top: `3rem`,
            }, { duration: 200, fill: "forwards" })
            dropbtn.classList.add("active");
        }
        infoNavOpen = !infoNavOpen;
        console.log(infoNavOpen)
    })
</script>