---
import Landing from "../components/index/landing.astro";
import Information from "../components/index/information.astro";
import Contact from "../components/index/contact.astro";
import MainLayout from "../layouts/mainLayout.astro";
import About from "../components/index/about.astro";

const title = "Home"
let currentLang = 0;
// 0 = EN, 1 = NO, 2 = JP. Only 0 and 1 should be publicly available atm.
---

<MainLayout title={title} currentLang={currentLang}>
    <div>
        <Landing currentlang={currentLang} />

        <About />
        
        <Information currentlang={currentLang} />
    
        <Contact currentlang={currentLang} />
    </div>
</MainLayout>
